body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #333333;
}

p {
    padding: 0;
    margin: 0;
}

.none {
    display: none;
}

/* font-family: 'Poppins', sans-serif; */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header styles */
.header {
    background-color: #f3f1ef;
    padding: 50px 0 210px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo, nav-logo-span {
    font-size: 32px;
    letter-spacing: 9px;
    line-height: 1;
    color: #000000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    filter: drop-shadow(-0.696px 4.951px 2.5px rgba(21,21,21,0.16));
    text-transform: uppercase;
}

.nav-logo-span {
    font-weight: 700;
    font-family: "PT Serif", sans-serif;
}
.nav-menu {
    margin-left: 15px;
}
.nav-menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-item {
    margin-right: 65px;
    font-size: 20px;
    line-height: 1;
    color: #333333;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.nav-menu-item:last-child {
    margin-right: 0;
}

.nav-menu__hire-btn {
    border: 3px solid #fee002;
    border-radius: 50px;
    padding: 20px 30px;
    transition: border-color .2s ease-in-out;
}

.nav-menu__hire-btn:hover {
    border-color: #1769ff;
}

.nav-menu-link:hover {
    color: #1769ff;
}

/* Mobile menu start */
.mobile-menu {
    display: none;
}

.mobile-menu-triger {
    display: block;
    font-size: 28px;
}	
.mobile-menu-close {
    display: block;
    font-size: 28px;
    color: #fff;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 100;
}
.mobile-menu-popup {
	display: none;	
	background: #8b8b8b;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0;
	padding: 30px;
	z-index: 9999;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.mobile-menu-list {
	margin: 0;
    padding: 0;
    text-align: center;
}

.mobile-menu-item {
	list-style: none;
	margin: 10px;
	padding: 0;
}

.mobile-menu-item:last-child {
    margin-top: 20px;
    margin-left: 0;
}

.mobile-menu-link {
	color: #333333;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
	color: rgb(255, 255, 255);
	line-height: 1.4;
	text-decoration: none;
}

.mobile-menu-link:hover {
    color: #1769ff;
}

.mobile-menu__hire-btn {
    border: 2px solid #fee002;
    border-radius: 50px;
    padding: 5px 20px;
    transition: border-color .2s ease-in-out;
}

.mobile-menu__hire-btn:hover {
    border-color: #1769ff;
    background-color: #1769ff;
    color: #e9e7e7;
}

.body_pointer * {
	cursor: pointer;
}
/* Mobile menu end */

.header-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin-top: 105px;
    position: relative;
    z-index: 10;
}

.header-content::before {
    content: attr(data-count);
    right: 0px;
    top: 35px;
    font-size: 206px;
    color: #e9e7e7;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    position: absolute;
    z-index: -1;
}

.header-img-slider {  
    max-width: 576px;  
    z-index: 10;
}

.header-img img {
    width: 576px;
}

.header-text {
    max-width: 600px;
    margin-top: 145px;
    margin-left: 20px;
    margin-right: 15px;
    z-index: 10;
}

.header-text-top {
    font-size: 36px;
    line-height: 26px;
    color: #333333;
    font-weight: 300;
}

.header-text-center {
    font-size: 48px;
    line-height: 1.1;
    color: #333333;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-top: 35px;
}

.header-text-bottom {
    font-size: 16px;
    line-height: 1.8;
    color: #777777;
    margin-top: 35px;
}

.header-btn {
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    padding: 20px 50px;
    border-radius: 50px;
    filter: drop-shadow(-0.696px 4.951px 8px rgba(23,105,255,0.2));
    background-color: #fee002;
    display: inline-block;
    margin-top: 40px;
}

.header-btn:hover {
    background-color: #d3bc0d;
    transition: background-color .2s ease-out;
}

/* Services section */

.services {
    padding: 175px 20px 165px;
}

.section-title-wrap {
    width: 450px;
    margin: 0 auto;
}

.section-title-text {
    text-align: center;
    font-size: 32px;
    letter-spacing: 9px;
    line-height: 1.3;
    color: #333333;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 10;
}

.section-title-text::before {
    font-size: 55px;
    letter-spacing: 1px;
    line-height: 70px;
    color: #eeeeee;
    font-family: "Poppins", sans-serif;
    position: absolute;
    z-index: -1;
}

.services-section__text::before {
    content: attr(data-before);
    left: 97px;
    top: -14px;
}

.services-items-wrap {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-item-wrap {
    width: 365px;
    display: flex;
    justify-content: center;
    padding: 45px 0;
}

.services-item-wrap:hover {
    border-radius: 5px;
    filter: drop-shadow(-4.593px 32.679px 35px rgba(0,0,0,0.16));
    background-color: #fee002;
    transition: background-color 0.3s ease-in-out;
}

.services-item-wrap:hover .services-item-img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.services-item {
    width: 265px;
    text-align: center;
}

.services-item-title {
    font-size: 18px;
    line-height: 1.2;
    color: #222222;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin-top: 35px;
}

.services-item-line {
    width: 41px;
    height: 2px;
    filter: drop-shadow(-0.696px 4.951px 8px rgba(23,105,255,0.39));
    background-color: #1769ff;
    margin: 25px auto 0;
}

.services-item-text {
    font-size: 15px;
    line-height: 1.75;
    color: #777777;
    font-family: "Raleway";
    text-align: center;
    margin-top: 35px;
}

/* Section Portfolio */
.portfolio {
    background-color: #f3f3f3;
    padding: 145px 0 170px;
}

.portfolio-section__text::before {
    content: attr(data-portfolio);
    top: -13px;
    left: 74px;
    color: #ebebeb;
    font-family: "Poppins";
}

.portfolio-gallery-container {
    max-width: 1360px;
    margin: 0 auto;
}

.porfolio-gallery-wrap {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-item {
    max-width: 430px;
    margin: 30px 35px 0 0;
    position: relative;
}

.gallery-item:nth-child(3n) {
    margin: 30px 0 0 0;
}

.gallery-item-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.gallery-item-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(-45deg, transparent 70px, #fee002 0);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.gallery-item:hover .gallery-item-top {
    opacity: 1;
}

.gallery-item-top-category {
    font-size: 18px;
    line-height: 1.75;
    color: #333333;
    font-weight: 500;
}

.gallery-item-top-desc {
    margin-top: 16px;
    font-size: 24px;
    line-height: 1.1;
    color: #333333;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.gallery-item-top-line {
    margin-top: 27px;
    width: 39px;
    height: 2px;
    background-color: #1769ff;
}

/* Hire me section */

.hire-me {
    padding: 130px 0 125px;
    
}

.hire-me-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hire-me-text-wrap {
    max-width: 725px;
}

.hire-me-title {
    font-size: 34px;
    line-height: 1;
    color: #333333;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.hire-me-text {
    font-size: 16px;
    line-height: 1.75;
    color: #777777;
    font-family: "Raleway", sans-serif;
    margin-top: 25px;
}

.hire-me-btn-wrap {
    margin-top: 40px;
}

.hire-me-btn {
    padding: 22px 32px;
    border-radius: 30px;
    border: 2px solid #1769ff;
    font-size: 16px;
    line-height: 1.75;
    color: #1769ff;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
}

.hire-me-btn:hover {
    background-color: #1769ff;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

/* Rewievs section */
.rewievs {
    padding: 160px 0;
    background-color: #f3f3f3;
}

.rewievs-wrap {
    max-width: 1090px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.rewievs-wrap::before, .rewievs-wrap::after {
    font-size: 750px;
    letter-spacing: -15px;
    line-height: 0px;
    color: #f8f0b6;
    font-weight: 300;
    font-family: 'Arial', sans-serif;
    position: absolute;
    z-index: -1;
}

.rewievs-wrap::before {
    content: attr(data-rewbef);
    left: 143px;
    top: 320px;
}

.rewievs-wrap::after {
    content: attr(data-rewaf);
    right: -7px;
    bottom: 448px;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.rewievs-title {
    max-width: 510px;
    margin: 0 auto;
}

.rewievs-title-h2 {
    font-size: 50px;
    line-height: 1.1;
    color: #0a0b0c;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.rewievs-persone-inf {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.rewievs-persone-img {
    border: 5px solid #fff;
    border-radius: 50px;
    margin: 60px auto 0;
}
.rewievs-persone-name {
    font-size: 17px;
    line-height: 1;
    color: #0a0b0c;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
}
.rewievs-persone-position {
    font-size: 15px;
    line-height: 1;
    color: #8b8b8b;
    font-weight: 500;
    margin-top: 10px;
}
.rewievs-persone-comment {
    max-width: 990px;
    font-size: 17px;
    line-height: 1.8;
    color: #0a0b0c;
    display: block;
    margin: 40px auto 0;
}

.reviews-slider-dots {
    display: flex;
    justify-content: center;
    margin-top: 110px;
    padding-left: 0;
}

.reviews-slider-dots li {
    list-style-type: none;
}

.reviews-slider-dots button{
    background-color: #bcbcbc;
    border-radius: 100%;
    border: none;
    width: 5px;
    height: 5px;
    font-size: 0;
    margin-left: 25px;
    padding: 0;
}

.reviews-slider-dots li.slick-active button {
    background-color: #1769ff;
    position: relative;
    
}

.reviews-slider-dots li.slick-active button::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -9px;
    border: 1px solid #1769ff;
    border-radius: 50%;
    padding: 10px;
}

/* Footer section */
.footer {
    padding: 90px 0 55px;
    box-shadow: 0px 5px 23px rgba(0,0,0,0.03);
}
 
.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-menu-list {
    display: flex;
    list-style-type: none;
}

.footer-menu-items {
    font-size: 18px;
    line-height: 1;
    color: #222222;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-right: 60px;
}

.footer-menu-items:last-child {
    margin-right: 0;
}

.footer-menu-links:hover {
    color: #1769ff;
}

.footer-search-form {
    position: relative;
    width: 235px;
    margin-left: 95px;
}

.footer-search {
    padding: 15px 0 15px 25px;
    border-radius: 23px;
    border: 1px solid #9b9b9b;
}

.footer-search-btn {
    position: absolute; 
    top: 3px;
    right: 17px;
    width: 55px;
    height: 44px;
    border: none;
    background-color: #fff;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.footer-search-btn:before {
    content: "\f002";
    font-family: FontAwesome;
    color: #000;
    font-size: 20px;
    font-weight: lighter;
  }

.footer-social {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.footer-social-item {
    display: inline-block;
    padding: 20px;
    background-color: #ebebeb;
    font-size: 20px;
    color: #a7a7a7;
    border-radius: 100%;
    margin-right: 45px;
}

.footer-social-item i {
    width: 21px;
    height: 21px;
    text-align: center;
}

.footer-social-item:last-child {
    margin-right: 0;
}

.footer-social-item:hover {
    filter: drop-shadow(-1.253px 8.912px 10.5px rgba(0,0,0,0.24));
    background-color: #32ccfe;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.footer-copyright {
    margin-top: 80px;
    border-top: 1px solid #ececec;
    padding-top: 55px;
    text-align: center;
}

.footer-coptright-text {
    font-size: 16px;
    line-height: 1.75;
    color: #777777;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.footer-copyright-link:hover {
    color: #1769ff;
    text-decoration: underline;
}


/* BLOG Start */
.header-blog {
    padding: 50px 0 0 0;
}

.header-blog-img {
    margin-top: 50px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0 315px 20px;
}

.header-blog-title {
    font-size: 55px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}
.header-blog-desc {
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    margin-top: 15px;
}

.blog-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 55px 0 0 0;
}

.search-form {
    display: block;
    position: relative;
}

.search-input {
    padding: 15px 0 15px 25px;
    border-radius: 23px;
    border: 1px solid #9b9b9b;
    width: 411px;
    position: relative;
}

.search-btn {
    position: absolute; 
    top: 3px;
    right: 4px;
    width: 55px;
    height: 44px;
    border: none;
    background-color: #fff;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.search-btn:before {
    content: "\f002";
    font-family: FontAwesome;
    color: #000;
    font-size: 20px;
    font-weight: lighter;
}

.blog-posts-wrap {
    margin-top: 25px;
    margin-bottom: 75px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blog-post-wrap {
    width: 500px;
    margin: 30px;
    margin-top: 50px;
}

.blog-post-img {
    width: 100%;
}

.blog-post-date {
    font-size: 14px;
    color: #000000;
    font-weight: 300;
    margin-top: 20px;
}

.blog-post-title {
    font-size: 35px;
    color: #000000;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    transition: color 0.2s ease-in-out;
}

.blog-post-title:hover {
    color: #9b8906;
}

.blog-post-desc {
    font-size: 16px;
    color: #000000;
    font-weight: 300;
    font-family: "Raleway";
    margin-top: 10px;
    margin-bottom: 35px;
}

.blog-post-btn {
    border-radius: 21px;
    filter: drop-shadow(0px 5px 8px rgba(23,105,255,0.2));
    background-color: #fee002;
    padding: 15px 30px;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

.blog-post-btn:hover {
    background-color: #d3bc0d;
    transition: background-color .2s ease-out;
}

.pagination {
    padding: 20px 0 20px;
    background-color: #f3f1ef;
}

.pagination-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.pagination-item {
    margin-right: 40px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-link {
    font-size: 23px;
    font-weight: 300;
    font-family: "Poppins";
}

.pagination-link_active {
    color: #1769ff;
}

/* BLOG End*/

